In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
cric = 'https://www.cricbuzz.com/cricket-stats/player/1413/virat-kohli'
r = requests.get(cric)
soup = BeautifulSoup(r.content, 'html5lib')

In [24]:
def readTable(table, index):
    thead = table[0].find('thead')

    thead = thead.findAll('th')
    tbody = table[0].find('tbody')
    
    stats = []
    header = []
    
    for th in thead:
        if 'title' in th.attrs:
            header.append(th['title'])
        else:
            header.append('')

    stats.append(header)
    
    tablerows = tbody.find_all('tr')
    
    for tablerow in tablerows:
        row = []
        for td in tablerow.find_all('td'):
            row.append(td.text)
        stats.append(row)
    
    return stats

In [29]:
def getPlayerStats(URL):
    r = requests.get(cric)
    soup = BeautifulSoup(r.content, 'html5lib')
    table = soup.find_all('table')
    
    playerName = soup.find('h1', attrs={'itemprop':'name'}).text
    
    battingStats = readTable(table, 0)
    bowlingStats = readTable(table, 1)
    
    player = {
        'Name' : playerName,
        'Batting' : battingStats,
        'Bowling' : bowlingStats
    }
    
    return player

In [42]:
def dumpCSV(player):
    battingDF = pd.DataFrame(player['Batting'])
    bowlingDF = pd.DataFrame(player['Bowling'])
    battingDF.to_csv('/Data/' + player['Name'] + ' Batting Summary.csv')
    bowlingDF.to_csv('/Data/' + player['Name'] + ' Bowling Summary.csv')

In [35]:
p = getPlayerStats(cric)

In [43]:
dumpCSV(p)

In [3]:
table = soup.find_all('table')

In [104]:
thead = table[0].find('thead')

In [36]:
thead = thead.findAll('th')

In [64]:
battingTable = []
header = []
for th in thead:
    if 'title' in th.attrs:
        header.append(th['title'])
    else:
        header.append('')
        
battingTable.append(header)

In [66]:
tbody = table[0].find('tbody')

In [88]:
tablerows = tbody.find_all('tr')

In [89]:
print(tablerows[0].prettify())

<tr>
 <td class="cb-col-8">
  <strong>
   Test
  </strong>
 </td>
 <td class="cb-plyr-tbody text-right">
  95
 </td>
 <td class="text-right">
  160
 </td>
 <td class="text-right">
  10
 </td>
 <td class="text-right">
  7671
 </td>
 <td class="text-right">
  254
 </td>
 <td class="text-right">
  51.14
 </td>
 <td class="text-right">
  13550
 </td>
 <td class="text-right">
  56.61
 </td>
 <td class="text-right">
  27
 </td>
 <td class="text-right">
  7
 </td>
 <td class="text-right">
  26
 </td>
 <td class="text-right">
  856
 </td>
 <td class="text-right">
  22
 </td>
</tr>

In [93]:
for tablerow in tablerows:
    row = []
    for td in tablerow.find_all('td'):
        row.append(td.text)
    battingTable.append(row)

In [95]:
print(battingTable)

[['', 'Matches Played', 'No of Innings Batted', 'No of Not Outs', 'No of Runs Scored', 'Highest Score', 'Batting Average', 'No of Balls Faced', 'Batting Strike Rate', 'No of 100s Scored', 'No of 200s Scored', 'No of 50s Scored', 'No of fours hit', 'No of sixes hit'], ['Test', '95', '160', '10', '7671', '254', '51.14', '13550', '56.61', '27', '7', '26', '856', '22'], ['ODI', '254', '245', '39', '12169', '183', '59.07', '13061', '93.17', '43', '0', '62', '1140', '126'], ['T20I', '89', '84', '24', '3159', '94', '52.65', '2272', '139.04', '0', '0', '28', '285', '90'], ['IPL', '199', '191', '31', '6076', '113', '37.98', '4659', '130.41', '5', '0', '40', '524', '205']]

In [96]:
df = pd.DataFrame(battingTable)

In [97]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,,Matches Played,No of Innings Batted,No of Not Outs,No of Runs Scored,Highest Score,Batting Average,No of Balls Faced,Batting Strike Rate,No of 100s Scored,No of 200s Scored,No of 50s Scored,No of fours hit,No of sixes hit
1,Test,95,160,10,7671,254,51.14,13550,56.61,27,7,26,856,22
2,ODI,254,245,39,12169,183,59.07,13061,93.17,43,0,62,1140,126
3,T20I,89,84,24,3159,94,52.65,2272,139.04,0,0,28,285,90
4,IPL,199,191,31,6076,113,37.98,4659,130.41,5,0,40,524,205

In [100]:
df.to_csv('Kohli Batting.csv')